@{
    ViewData["Title"] = "Movie List";

    string maaane = "came in the game like maaane: ";

    for(int i=0; i<10; i++)
    {
        maaane += i;
    }
}

<h2>My Movie List</h2>

<p>Hello from our View Template!</p>

<p>@maaane</p>